.about-container {
  height: 100%;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  .about-text-container {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1C1F21;


    div {
      position: relative;
      height: fit-content;
      overflow-y: hidden;

      &:nth-of-type(1) {
        padding-bottom: 30px;
      }

      .greetings {
        display: block;
        font-size: 8.5em;
        font-style: italic;
        font-weight: 600;
        padding: 0 20px;
        transform: translateY(140%);
        color: #8884FF;

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 6.5em;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 4em;
          padding: 0 10px;
          padding-top: 5px;
        }
      }
    }

    div {
      position: relative;
      height: fit-content;
      overflow-y: hidden;
      padding-bottom: 15px;

      .info-text {
        display: block;
        font-family: "Neue Montreal", sans-serif;
        font-size: 1.8em;
        text-align: center;
        line-height: 40px;
        transform: translateY(120%);

        .name, .job, .brand {
          font-weight: 600;
          font-size: 1em;
          color: #8884FF;
        }

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 1.3em;
          padding-top: 10px;
          line-height: 20px;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 1em;
        }
      }
    }
  }
}
