.about-container {
  height: 100%;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  .about-text-container {
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      font-family: "Philifont", sans-serif;
      font-size: 2em;
      text-align: justify;
      line-height: 40px;

      &:first-child {
        font-size: 3em;
        padding-bottom: 20px;
      }
    }

  }
}
