.contact-container {
  position: relative;
  height: 100%;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .link-container {
    overflow: hidden;

    &:nth-child(even) {
      color: #B0FF92;
    }

    &:nth-child(odd) {
      color: #F7ECCA;
    }

    span {
      display: block;
      font-family: "PP Supply Sans", sans-serif;
      font-size: 4em;
      padding: 10px;
      transform: translateY(120px);
      transition: 0.7s transform cubic-bezier(0.77, 0, 0.175, 1);

    }

    &.active {
      span {
        transform: translateY(0px);
      }
    }
  }
}
