.information-overlay-container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  padding: 40px;
  z-index: 10;

  @media screen and (max-width: $layout-breakpoint-tablet) {
    padding: 25px;
  }

  @media screen and (max-width: $layout-breakpoint-xsmall) {
    padding: 20px;
  }

  .upper-infos {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    color: #393D41;

    .portfolio-name-container {
      height: fit-content;
      position: relative;
      overflow-y: hidden;

      span {
        display: block;
        font-family: "Philifont Medium", sans-serif;
        font-size: 3.6em;
        transform: translateY(300%);

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 3em;
        }

        @media screen and (max-width: $layout-breakpoint-tablet) {
          font-size: 2.2em;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 1.8em;
        }

        &:last-child {
          padding-left: 50px;
          font-style: italic;
          font-size: 4em;
          font-family: "Philifont Dos", sans-serif;
          color: #8884FF;

          @media screen and (max-width: $layout-breakpoint-small) {
            font-size: 3.4em;
          }

          @media screen and (max-width: $layout-breakpoint-tablet) {
            font-size: 2.6em;
          }

          @media screen and (max-width: $layout-breakpoint-xsmall) {
            font-size: 2.2em;
            padding-left: 0px;
          }
        }
      }
    }

    .time-container {
      height: fit-content;
      position: relative;
      overflow-y: hidden;

      span {
        display: inline-block;
        font-family: "Philifont", sans-serif;
        font-size: 2.5em;
        transform: translateY(100%);

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 2.2em;
        }

        @media screen and (max-width: $layout-breakpoint-tablet) {
          font-size: 2em;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 1.8em;
        }
      }
    }
  }

  .down-infos {
    position: relative;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #393D41;

    .portfolio-information-container {
      height: fit-content;
      position: relative;
      overflow-y: hidden;

      span {
        display: block;
        font-family: "Philifont", sans-serif;
        font-size: 1.1em;
        transform: translateY(300%);

        &:last-child {
          margin-top: 5px;
          color: #8884FF;
          padding-bottom: 3px;
        }

        @media screen and (max-width: $layout-breakpoint-tablet) {
          font-size: 1em;
        }
      }
    }

    .overlay-line {
      height: 1px;
      flex: 0;
      margin: 0 50px;
      background-color: #393D41;

      @media screen and (max-width: $layout-breakpoint-xsmall) {
        display: none;
      }
    }

    .job-container {
      height: fit-content;
      position: relative;
      overflow-y: hidden;

      span {
        display: block;
        font-family: "Philifont Medium", sans-serif;
        font-size: 3em;
        font-weight: 500;
        font-style: italic;
        transform: translateY(300%);

        &:last-child {
          padding-left: 45px;
          font-style: normal;
          color: #8884FF;
          font-family: "Philifont Dos", sans-serif;
        }

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 3em;
        }

        @media screen and (max-width: $layout-breakpoint-tablet) {
          font-size: 2.2em;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 1.8em;
        }
      }
    }
  }
}
