html {
  body {
    font-family: "Philifont", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E8FCCF;
    transition: 0.7s background-color cubic-bezier(0.77, 0, 0.175, 1);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.overlay-minutes {
  color: #8884FF;
}
