html {
  body {
    font-family: "Philifont", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F5F5F5;
  }
}

.minutes {
  color: #8884FF;
}
